<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>EDUFY</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="icon" href="~/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="~/css/bootstrap.min.css"> 
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <link rel="stylesheet" href="~/css/feather.css"> 
    <link rel="stylesheet" href="~/css/fontawesome/fontawesome.css"> 
    <link rel="stylesheet" href="~/css/select2.min.css"> 
    <link rel="stylesheet" href="/css/nouislider.min.css">
    <link rel="stylesheet" href="~/css/splide.min.css"> 
    <link rel="stylesheet" href="~/css/main.css"> 
    <link rel="stylesheet" href="/css/venobox.min.css">
    <link rel="stylesheet" href="~/css/jquery.mCustomScrollbar.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.min.css" type="text/css" rel="stylesheet" />
    <link href="~/css/jquery.toast.min.css" rel="stylesheet" />

</head>
<body>
     <div class="loader-overlay" style="display:none" id="loader">
        <div class="loader"></div>
    </div>
    

    <!-- HEADER START -->
    <partial name="_Header"></partial>
    <div role="main" class="page-content">
        @RenderBody()
    </div>
    <!-- MAIN END -->

    <!-- FOOTER START -->
    <footer>
        <div class="tu-footer">
            <div class="container">
                <div class="tu-footer_maintitle">
                    <h3>Explore all our courses and enjoy learning</h3>
                    <h5>Here are some of our courses we picked for you</h5>
                </div>
                <div class="row tu-footer_row">
                    
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <h5 class="tu-footertitle">Languages</h5>
                        <ul class="tu-footerlist">
                            <li><a href="https://edufy.education/tutor/list?category=ebf84c84-5025-49c2-22fe-08dc8af801b8&subject=">English</a></li>
                            <li><a href="https://edufy.education/tutor/list?category=9b1c158d-add7-43a2-3847-08dcd7d77883&subject=">French</a></li>
                            <li><a href="https://edufy.education/tutor/list?category=5c186fbb-f875-4f44-3848-08dcd7d77883&subject=">Spanish</a></li>
                            <li><a href="https://edufy.education/tutor/list?category=9c40ef5e-1a57-4596-3849-08dcd7d77883&subject=">Swedish</a></li>
                            <li><a href="https://edufy.education/tutor/list?category=64953e79-4ed2-44af-384a-08dcd7d77883&subject=">German</a></li>
                            <li class="tu-footerlist-explore"><a href="https://edufy.education/tutor/list?category=8f234dc3-96ad-42a1-22fc-08dc8af801b8&subject=">Explore all</a></li>
                        </ul>
                    </div>

    
                    <!-- IT Footer courses -->

                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <h5 class="tu-footertitle">IT</h5>
                        <ul class="tu-footerlist">
                            <li><a href="search-listing.html">Programming</a></li>
                            <li><a href="search-listing.html">Web Developement</a></li>
                            <li><a href="search-listing.html">Python</a></li>
                            <li><a href="search-listing.html">C#</a></li>
                            <li><a href="search-listing.html">JavaScript</a></li>
                            <li class="tu-footerlist-explore"><a href="search-listing.html">Explore all</a></li>
                        </ul>
                    </div>


                    <!-- Music Footer courses -->
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <h5 class="tu-footertitle">Music</h5>
                        <ul class="tu-footerlist">
                            <li><a href="search-listing.html">Guitar</a></li>
                            <li><a href="search-listing.html">Violin</a></li>
                            <li><a href="search-listing.html">Piano</a></li>
                            <li><a href="search-listing.html">Vocal coaches</a></li>
                            <li><a href="search-listing.html">Flute</a></li>
                            <li class="tu-footerlist-explore"><a href="search-listing.html">Explore all</a></li>
                        </ul>
                    </div>
                    
                    <!-- Academic Footer courses -->

                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <h5 class="tu-footertitle">Academic</h5>
                        <ul class="tu-footerlist">
                            <li><a href="https://edufy.education/tutor/list?category=f1dda04b-2909-4782-22f9-08dc8af801b8&subject=">Mathematics</a></li>
                            <li><a href="search-listing.html">Computer Science</a></li>
                            <li><a href="search-listing.html">History</a></li>
                            <li><a href="search-listing.html">Chemistry</a></li>
                            <li><a href="search-listing.html">Physics</a></li>
                            <li class="tu-footerlist-explore"><a href="search-listing.html">Explore all</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="tu-footerdark">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <p class="tu-footerdescription">
                            <bold>EDUFY!</bold><hr style="width: 55px;">Empowering minds through personalized learning – connecting you to the right tutor, at the right time, for a smarter tomorrow.</p>
                        <ul class="tu-socialmedia">
                            <li class="tu-facebookv3"><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="tu-twitterv3"><a href="https://twitter.com/?lang=en" target="_blank"><i class="fab fa-twitter"></i></a></li>
                            <li class="tu-linkedinv3"><a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                            <li class="tu-dribbblev3"><a href="https://dribbble.com/" target="_blank"><i class="fab fa-dribbble"></i></a></li>
                            <li class="tu-twitchv3"><a href="https://www.twitch.tv/" target="_blank"><i class="fab fa-twitch"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-5">
                        <h5 class="tu-footertitle">Feel free to share your question</h5>
                        <ul class="tu-footerlist tu-footericonlist">
                            <li><a href="tel:+6287777263549"><i class="icon icon-phone-call"></i><em>+46 700057613</em><span>( Mon to Sun 9am - 17pm CEST )</span></a></li>
                            <li><a href="mailto:info@edufy.education"><i class="icon icon-mail"></i><em>info@edufy.education</em></a>    
                        </ul>
                    </div>
                    <div class="col-12">
                        <div class="tu-footerlistholder  tu-seperator">
                            <div class="tu-footercontent">
                                <h5 class="tu-footertitle">Tutor by subjects</h5>
                                <ul class="tu-footerlist">
                                    <li><a href="search-listing.html">General mathematics</a></li>
                                    <li><a href="search-listing.html">World languages</a></li>
                                    <li><a href="search-listing.html">Advanced placement</a></li>
                                    <li><a href="search-listing.html">Advance science play</a></li>
                                    <li><a href="search-listing.html">Social sciences</a></li>
                                    <li><a href="search-listing.html">International baccalaureate®</a></li>
                                    <li><a href="search-listing.html">Grooming technology</a></li>
                                    <li><a href="search-listing.html">Maketing business</a></li>
                                    <li><a href="search-listing.html">ACT® test prep</a></li>
                                    <li><a href="search-listing.html">English communications</a></li>
                                    <li><a href="search-listing.html">Career support</a></li>
                                    <li><a href="search-listing.html">PSAT/NMSQT® & SAT® prep</a></li>
                                    <li><a href="search-listing.html">Content writing</a></li>
                                    <li><a href="search-listing.html">Student success skills</a></li>
                                    <li class="tu-footerlist-explore"><a href="search-listing.html">Explore all</a></li>
                                </ul>
                            </div>
                            <div class="tu-footercontent-two">
                                <h5 class="tu-footertitle">
                                    Online classes
                                    <span class="tu-tag tu-bggreen">NEW</span>
                                </h5>
                                <ul class="tu-footerlist">
                                    <li><a href="javascript:void(0);">Online science classes</a></li>
                                    <li><a href="search-listing.html">Online islamiat classes</a></li>
                                    <li><a href="search-listing.html">Online mathemetic classes</a></li>
                                    <li><a href="search-listing.html">Online java classes</a></li>
                                    <li><a href="search-listing.html">Online computer classes</a></li>
                                    <li><a href="search-listing.html">IBM python Analyst</a></li>
                                    <li><a href="search-listing.html">Online geographic classes</a></li>
                                    <li><a href="search-listing.html">Online C programming classes</a></li>
                                    <li><a href="search-listing.html">Online statistic classes</a></li>
                                    <li class="tu-footerlist-explore"><a href="search-listing.html">Explore all</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="tu-footerlistholder  tu-seperator m-0">
                            <div class="tu-footercontent-two">
                                <h5 class="tu-footertitle">Useful links</h5>
                                <ul class="tu-footerlist">
                                    <li><a href="how-it-work.html">About</a></li>
                                    <li><a href="search-listing.html">Success stories</a></li>
                                    <li><a href="search-listing.html">Online classes</a></li>
                                    <li><a href="login.html">Join our community</a></li>
                                    <li><a href="search-listing.html">Courses</a></li>
                                    <li><a href="login.html">Sign in now</a></li>
                                    <li><a href="search-listing.html">Programs &amp; degrees</a></li>
                                    <li><a href="how-it-work.html">How it works</a></li>
                                    <li><a href="search-listing.html">Learning materials</a></li>
                                    <li><a href="index.html">F.A.Q</a></li>
                                </ul>
                            </div>
                            <div class="tu-footercontent d-xl-flex">
                                <div class="tu-footercontent_title">
                                    <h5 class="tu-footertitle">Get mobile app</h5>
                                    <p>Take education on the go. Get our mobile app for FREE! on your Apple and android devices</p>
                                    <ul class="tu-footerdevice">
                                        <li><a href="javascript:void(0);"><img src="images/ios.png" alt="devices"></a></li>
                                        <li><a href="javascript:void(0);"><img src="images/android.png" alt="devices"></a></li>
                                    </ul>
                                </div>
                                <div class="tu-footernewsletter">
                                    <h5 class="tu-footertitle">Signup for newsletter</h5>
                                    <p>Corrupti quolores etmquasa molestias epturite sinteam occaecati amet cupiditate mikume molareshe.</p>
                                    <div class="tu-inputbtn">
                                        <input type="email" placeholder="Enter email address" class="form-control">
                                        <a href="index.html" class="tu-primbtn-icon tu-primbtn-orange"><i class="icon icon-send"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tu-footercopyright">
                <div class="container">
                    <div class="tu-footercopyright_content">
                        <p>© 2024 All Rights Reserved.</p>
                        <ul class="tu-footercopyright_list">
                            <li><a href="how-it-work.html">Careers</a></li>
                            <li><a href="how-it-work.html">Terms of use</a></li>
                            <li><a href="how-it-work.html">Privacy policy</a></li>
                            <li><a href="how-it-work.html">Cookie notice</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- FOOTER END -->



    <!-- Custom Tooltip Render Here -->
    <div class="tu-tippysm">
        <span id="tu-verifed" class="d-none">
            <span class="tu-tippytooltip">
                <span>Verified</span>
            </span>
        </span>
    </div>

    <div id="ratingBreakdown" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Rating Analaysis</h4>
                    <button type="button" class="close" onclick="closePopup('ratingBreakdown')" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <div class="container mt-1">
                        <h2 class="mb-4">Average Rating</h2>
                        <div class="d-flex align-items-center mb-4">

                            <div class="ml-3">
                                <h4 class="mb-0" id="avg-rating"></h4>
                            </div>
                        </div>

                        <h2 class="mb-4">Rating Breakdown</h2>
                        <div class="row align-items-center mb-2">
                            <div class="col-2">5 stars</div>
                            <div class="col-8">
                                <div class="progress">
                                    <div id="five-star-progress" class="progress-bar bg-success" role="progressbar"  aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" ></div>
                                </div>
                            </div>
                            <div id="five-star" class="col-2 text-right"></div>
                        </div>
                        <div class="row align-items-center mb-2">
                            <div class="col-2">4 stars</div>
                            <div class="col-8">
                                <div class="progress">
                                    <div id="four-star-progress" class="progress-bar bg-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div id="four-star" class="col-2 text-right"></div>
                        </div>
                        <div class="row align-items-center mb-2">
                            <div class="col-2">3 stars</div>
                            <div class="col-8">
                                <div class="progress">
                                    <div id="three-star-progress" class="progress-bar bg-primary" role="progressbar" style="width: 5%;" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div id="three-star" class="col-2 text-right"></div>
                        </div>
                        <div class="row align-items-center mb-2">
                            <div class="col-2">2 stars</div>
                            <div class="col-8">
                                <div class="progress">
                                    <div id="two-star-progress" class="progress-bar bg-warning" role="progressbar"  aria-valuenow="3" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div id="two-star" class="col-2 text-right"></div>
                        </div>
                        <div class="row align-items-center mb-2">
                            <div class="col-2">1 star</div>
                            <div class="col-8">
                                <div class="progress">
                                    <div id="one-star-progress" class="progress-bar bg-danger" role="progressbar"  aria-valuenow="2" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div id="one-star" class="col-2 text-right"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Include other libraries -->
    @if (ViewBag.IncludeDefaultScripts == null || ViewBag.IncludeDefaultScripts == true) //Full Calender js conflict =>event/index
    {
        <script src="/js/vendor/jquery.min.js"></script>
       
    }
    else
    {
        <script src="https://code.jquery.com/jquery.js"></script>
    }
    <script src="/js/vendor/bootstrap.min.js"></script>
    <script src="/js/vendor/popper-core.js"></script>
    
   
    <script src="/js/vendor/appear.js"></script>
    <script src="/js/vendor/countTo.js"></script>
    <script src="/js/vendor/splide.min.js"></script>
    <script src="/js/vendor/select2.min.js"></script>
    <script src="~/js/vendor/jquery.mcustomscrollbar.concat.min.js"></script>
    <script src="/js/vendor/tippy.js"></script>
    <script src="/js/vendor/typed.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="~/js/like.js"></script>
    <script src="~/js/vendor/signalr.js"></script>
    <script src="~/js/signalr/presence.js"></script>
  @*   <script src="~/js/chat.js"></script> *@
    <script src="/js/jquery.toast.min.js"></script>
    <script src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @* @await Component.InvokeAsync("Notyf") *@

</body>
</html>
