<div ></div>


<div class="tyn-quick-chat-reply js-scroll-to-end">
    <div class="tyn-reply tyn-reply-quick" id="tynQuickReply" >
        @* <div class="tyn-reply-item outgoing">
            <div class="tyn-reply-group">
                <div class="tyn-reply-bubble">
                    <div class="tyn-reply-text"> Do you know which App or feature it will require to set up. </div><!-- tyn-reply-text -->
                </div><!-- .tyn-reply-bubble -->
                <div class="tyn-reply-bubble">
                    <div class="tyn-reply-text"> These article helps. </div><!-- tyn-reply-text -->
                </div><!-- .tyn-reply-bubble -->
            </div><!-- .tyn-reply-group -->
        </div><!-- .tyn-reply-item -->
        <div class="tyn-reply-item incoming">
            <div class="tyn-reply-avatar">
                <div class="tyn-media tyn-size-md tyn-circle">
                    <img src="images/avatar/2.jpg" alt="">
                </div>
            </div>
            <div class="tyn-reply-group">
                <div class="tyn-reply-bubble">
                    <div class="tyn-reply-link">
                        <a class="tyn-reply-anchor" href="https://www.envato.com/atomic-power-plant-engine/">https://www.envato.com/atomic-power-plant-engine/</a>
                    </div>
                </div><!-- .tyn-reply-bubble -->
                <div class="tyn-reply-bubble">
                    <div class="tyn-reply-text"> I hope these article helps. </div>
                </div><!-- .tyn-reply-bubble -->
            </div><!-- .tyn-reply-group -->
        </div><!-- .tyn-reply-item -->
        <div class="tyn-reply-separator">May 10, 2022, 11:14 AM</div> *@
      
    </div>
</div>